body{
    background-color: rgb(43, 43, 43);
    color: white;
}
.res{
    display: block;
    background-color: azure;
    margin: 40px;
    color: black;
    width: 90%;
    font-size: 20px;
    height: 200px;
}
.inp{
    display: block;
    background-color: azure;
    margin: 40px;
    color: black;
    width: 90%;
    height: 40px;
}
p{
    font-size: 20px;
    margin-left: 40px;
}
button{
    font-size: 20px;
    margin-left: 40px;
}